/* global variables */
:root {
  --main-font: "Roboto", sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #fff;
  --third-text-color: #757575;
  --fourth-color: #2196f3;
  --fifth-color: #f5f4fa;
  --sixth-color: #000;
  --background-color-1: #fff;
  --background-color-2: #2f303a;
  --logo-web-color: #2196f3;
  --logo-studio-first-color: #000;
  --logo-studio-second-color: #fff;
  --line-color: #ececec;
  --footer-color--1: rgba(255, 255, 255, 0.6);
  --footer-color--2: rgba(255, 255, 255, 0.1);
  --borderColor: #eee;
  --icon-style: #afb1b8;
}
/* end global variables */

/*body style*/
body {
  font-family: var(--main-font);
  background-color: var(--background-color-1);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  border-bottom: 1px solid var(--line-color);
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}
.hero__title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*end body style*/

.page-header {
  display: flex;
  align-items: center;
}
.header-navigation__list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 46px;
}
.header-navigation__link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact {
  font-weight: 500;
  display: flex;
  margin-left: auto;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
.header-contact__link {
  font-weight: 500;
  line-height: 1.17;
  color: var(--third-text-color);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation__link:hover,
.header-navigation__link:focus {
  color: var(--fourth-color);
}

.current {
  color: var(--fourth-color);
}
.current::after {
  content: "";
  display: block;
  position: relative;
  position: absolute;
  width: 58px;
  height: 4px;
  margin-top: 28px;
  background: var(--fourth-color);
  border-radius: 2px;
}
.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.36;
  width: 200px;
  height: 50px;
  color: var(--secondary-text-color);
  background-color: var(--fourth-color);
  padding: 10px 40px;
  letter-spacing: 0.06em;
  border: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  color: var(--secondary-text-color);
}
/*.button-portfolio {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 50px;
}
.button-portfolio__item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background: var(--fifth-color);
  cursor: pointer;
  border: #fff;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio-item:hover,
.button-portfolio-item:focus-visible {
  color: var(--secondary-text-color);
  background-color: var(--fourth-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-2);
}
.footer-contact {
  line-height: 1.71;
}
.footer-contact__address-data {
  margin-top: 20px;
  max-width: 246px;
}
.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__address {
  line-height: 1.71;
  color: var(--secondary-text-color);
  text-decoration: inherit;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link {
  line-height: 1.71;
  color: var(--footer-color--1);
  text-decoration: inherit;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation__link:hover,
.header-navigation__link:focus,
.footer-contact__address:hover,
.footer-contact__address:focus,
.footer-contact__link:hover,
.footer-contact__link:focus,
.navigation-contact__email:focus,
.navigation-contact__email:hover,
.navigation-contact__tel:focus,
.navigation-contact__tel:hover {
  color: var(--fourth-color);
  cursor: pointer;
}
.header-contact__item:hover,
.header-contact__item:focus,
.header-contact__link:focus,
.header-contact__link:hover {
  color: var(--fourth-color);
  cursor: pointer;
  fill: currentColor;
}

/*end links*/

/*studio-name - > color of name Studio Web */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 26px;
  line-height: 1.17;
  margin-right: 94px;
}
.logo__name-1 {
  color: var(--logo-web-color);
}
.logo__name-2 {
  color: var(--logo-studio-first-color);
}
.logo__name-3 {
  color: var(--logo-studio-second-color);
}

/* team member */
/*
.section-team {
  background-color: var(--fifth-color);
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}
.team-member {
  display: flex;
  gap: 30px;
}
.team-member__item {
  background-color: var(--background-color-1);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-member__describe {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 10px;
  text-align: center;
}
.team-member__position {
  font-size: 16px;
  line-height: 1.17;
  color: var(--third-text-color);
  margin-bottom: 16px;
  text-align: center;
}*/
/*end team name*/
/*.our-strengths-section {
  padding-bottom: 0;
}
.our-strengths {
  display: flex;
  gap: 30px;
  text-align: left;
  justify-content: center;
}
.our-strengths__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.our-strengths__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
  margin-top: 10px;
  flex-wrap: nowrap;
  width: 270px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}*/
.skills__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.skills__img {
  width: 370px;
  height: 294px;
}
.our-customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-customers-item a:hover,
.our-customers-item a:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--secondary-text-color);
}

/*.about-client {
  padding: 20px 24px;
  border-right: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  color: var(--main-text-color);
}
.about-client__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}
.about-client__service {
  font-size: 16px;
  line-height: 1.87;
  color: var(--third-text-color);
  text-align: left;
}*/

/* ----- nasi klienci - our client-----*/
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 50px;
}
/* ----- end nasi klienci - our client-----*/

/* ----- icons -----*/
.header-contact__email {
  width: 16px;
  height: 12px;
}
.header-contact__tel {
  width: 12px;
  height: 16px;
}

.header-contact__email,
.header-contact__tel {
  margin-right: 10px;
  fill: currentColor;
}
.social-list,
.social-list-2 {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social-item__icon-instagram,
.social-item__icon-twitter,
.social-item__icon-facebook,
.social-item__icon-linkedin {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social-item__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--icon-style);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item__link:hover,
.social-item__link:focus {
  color: var(--background-color-1);
  background-color: var(--fourth-color);
}
.our-strengths__block {
  background-color: var(--fifth-color);
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-strengths__icon {
  width: 70px;
  height: 70px;
}
.our-customer {
  display: flex;
  gap: 30px;
}
.our-customer__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.our-customer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  color: var(--icon-style);
  border-radius: 4px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customer__link:hover,
.our-customer__link:focus {
  cursor: pointer;
  color: var(--fourth-color);
}
.footer-social-icon__title,
.form-footer__title {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  line-height: 1.17;
}
.footer-social__icon {
  margin-left: 70px;
  margin-right: 78px;
}
.footer-social-icon__list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-social-icon__instagram,
.footer-social-icon__twitter,
.footer-social-icon__facebook,
.footer-social-icon__linkedin {
  width: 20px;
  height: 20px;
  fill: var(--background-color-1);
}
.footer-social-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-color--2);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-social-icon__link:hover,
.footer-social-icon__link:focus {
  border-radius: 50%;
  fill: currentColor;
  background-color: var(--fourth-color);
}
/* ----- end icons ----- */
/*.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.skills__item {
  position: relative;
}
.skills__text-solution {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.17;
  color: var(--fifth-color);
  text-transform: uppercase;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  border: 1px solid var(--sixth-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  bottom: 0;
}*/
/* aminacja opisu na portfoli */
/*.description {
  width: 370px;
  height: 294px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.56;
  color: var(--fifth-color);
  padding: 49px 45px 49px 24px;
}
.solution__overlay {
  position: relative;
  overflow: hidden;
}
.hidden-description {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/
.our-customers-link {
  display: block;
  transition: box-shadow;
}

.our-customers-link:hover .hidden-description,
.our-customers-link:focus .hidden-description {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(0);
}
/**************** zadanie 5 okno modalne BACKDROP ***************/
/*.modal-close__icon-close-x {
  width: 8px;
  height: 8px;
}

.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--background-color-1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.5) rotate(720deg);
}*/
/************ END BACKDROP ************************/
.about-client > h3 {
  text-decoration: none;
}
/* ---------- homework 6 -------------*/
.form-footer__button,
.form-registration__button {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: var(--fifth-color);
  background-color: var(--fourth-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-registration__button {
  padding: 10px 76px;
  margin: 0 auto;
}
.form-footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.form-footer__icon {
  width: 24px;
  height: 24px;
  fill: var(--background-color-1);
}
.form-footer__container {
  display: flex;
  margin-top: 20px;
}
.form-footer__input {
  width: 358px;
  background: rgba(47, 48, 58, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  color: var(--fifth-color);
  padding: 15px 16px;
}
/* registration */
.form-registration__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 12px;
}
.form-registration__label-title {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: rgba(117, 117, 117, 1);
}
.form-registration__label-title:nth-child(n + 4) {
  margin-bottom: 20px;
}
.form-registration__input-style {
  display: block;
  position: relative;
  margin-top: 4px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-registration__window {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.form-registration__input-style:focus-within,
.form-registration__window:focus-within {
  fill: var(--fourth-color);
  border-color: var(--fourth-color);
}
.form-registration__icon-person,
.form-registration__icon-phone,
.form-registration__icon-email {
  width: 18px;
  height: 18px;
  position: absolute;
  fill: rgba(33, 33, 33, 1);
  transform: translateY(-50%);
  top: 50%;
  left: 13px;
}
.form-registration__window:focus
  + .form-registration__icon-person
  + .form-registration__icon-phone
  + .form-registration__icom-email {
  fill: var(--fourth-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-registration__comment {
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}
.form-registration__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
/* ---------- checkbox ----------- */
/*.checkbox-declaration {
  display: flex;
  margin-left: 7px;
  margin-bottom: 30px;
}
.checkbox-declaration__icon-check,
.checkbox-declaration__icon-Vector-2 {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid rgba(33, 33, 33, 1);
  fill: var(--background-color-1);
}
.checkbox-declaration__box {
  visibility: hidden;
}
.checkbox-declaration__square {
  width: 16px;
  height: 15px;
}
.checkbox-declaration__checked {
  fill: var(--fifth-color);
  background-color: var(--fourth-color);
  width: 16px;
  height: 15px;
  position: relative;
  right: 16px;
  visibility: hidden;
}
.checkbox-declaration__box:checked ~ .checkbox-declaration__checked {
  visibility: visible;
}
.checkbox-declaration__box:checked + .checkbox-declaration__square {
  visibility: hidden;
}
.checkbox-declaration__rules {
  line-height: 1.71;
  color: rgba(117, 117, 117, 1);
}
.checkbox-declaration__terms-link {
  color: var(--fourth-color);
  text-decoration: underline;
}*/

/* --------------- end homework 6 -----------*/
