.footer-contact {
  line-height: 1.71;

  &__address-data {
    margin-top: 20px;
    max-width: 246px;
  }
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__address {
    line-height: 1.71;
    color: var(--secondary-text-color);
    text-decoration: inherit;
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link {
    line-height: 1.71;
    color: var(--footer-color--1);
    text-decoration: inherit;
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__address:hover,
  &__address:focus,
  &__link:hover,
  &__link:focus {
    color: var(--fourth-color);
    cursor: pointer;
  }
}
