.our-customers-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item a:hover,
  &__item a:focus {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--secondary-text-color);
  }

  &__about-client {
    padding: 20px 24px;
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    border-left: 1px solid var(--borderColor);
    color: var(--main-text-color);
  }
  &__client-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 4px;
  }
  &__client-service {
    font-size: 16px;
    line-height: 1.87;
    color: var(--third-text-color);
    text-align: left;
  }

  &__description {
    width: 370px;
    height: 294px;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.56;
    color: var(--fifth-color);
    padding: 49px 45px 49px 24px;
  }
  &__not-visibility-description {
    position: relative;
    overflow: hidden;
  }
  &__hidden-description {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link {
    display: block;
    transition: box-shadow;
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(0);
  }
  &__hidden-description,
  &__hidden-description {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(0);
  }
}
