.social-item__icon-instagram,
.social-item__icon-twitter,
.social-item__icon-facebook,
.social-item__icon-linkedin {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.social-item {
  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--icon-style);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: var(--background-color-1);
    background-color: var(--fourth-color);
  }
}
