$defaultMainFont: '"Roboto", sans-serif';
$main-text-color: #212121;
$secondary-text-color: #fff;
$third-text-color: #757575;
$fourth-color: #2196f3;
$fifth-color: #f5f4fa;
$sixth-color: #000;
$background-color-1: #fff;
$background-color-2: #2f303a;
$logo-web-color: #2196f3;
$logo-studio-first-color: #000;
$logo-studio-second-color: #fff;
$line-color: #ececec;
$footer-color--1: rgba(255, 255, 255, 0.6);
$footer-color--2: rgba(255, 255, 255, 0.1);
$borderColor: #eee;
$icon-style: #afb1b8;
$backgroundColor: green;
